<html>
<head>
    <title>Home</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% load static %}
    <script type="text/javascript" src="{% static 'dragonsdenn/script.js' %}"></script>
</head>
<body>
    <h1>Automatizace Mzdových Nákladů</h1>
    <hr>
    <div>
        <form id="run-form" enctype="multipart/form-data">
            {% csrf_token %}
            <p>
                <label for="wages">Wages</label>
                <input id="wages" name="wages" type="file">
                <br>
                <label for="employees">Employees</label>
                <input id="employees" name="employees" type="file">
            </p>
            <p>
                <button id="run-enforcer">Enforce</button>
                <button id="run-inspector">Inspect</button>
            </p>
        </form>
    </div>
    <br>
    <a href="">mzdy</a>
    <div>

    </div>
</body>
</html>