<html>
<head>
    <title>Home</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'dragonsdenn/css/style.css' %}">
</head>
<body>
    <h1>Automatizace Mzdových Nákladů</h1>
    <hr>
    <div>
        <form id="run-form" enctype="multipart/form-data">
            {% csrf_token %}
            <p>
                <label for="wages">Wages</label>
                <input id="wages" name="wages" type="file">
                <br>
                <label for="employees">Employees</label>
                <input id="employees" name="employees" type="file">
            </p>
            <p>
                <button id="run-enforcer">Enforce</button>
                <button id="run-inspector">Inspect</button>
            </p>
        </form>
    </div>
    <br>
    <div id="result">
        <div id="result-header">
            <span>Name</span>
            <span>Sheet</span>
            <span>Is New</span>
            <span>Has Pension</span>
            <span>Month</span>
            <span>Wage</span>
            <span>Cell</span>
        </div>
    </div>
</body>
<script type="text/javascript" src="{% static 'dragonsdenn/js/send2server.js' %}"></script>
<script type="text/javascript" src="{% static 'dragonsdenn/js/tables.js'%}"></script>
</html>